* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

.logo a img {}


.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px 0 100px;

}

.menu ul li {
    display: inline;
    margin: 0 5px;
}

.about-me {
    display: flex;
    gap: 100px;
    margin: 200px
}

.contact-me {
    text-align: center;
    margin: 0px 200px 0px 200px;
}

.about-me-text {
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    color: #000;
    width: 50%;
}

.about-me-image img {

    width: 85%;
    height: 85%;
    border: 2px solid gray;
    border-radius: 10px;

}

.about-me-image img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.about-me-text {}

.animation {
    overflow: hidden;
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: linear;
    font-weight: bolder;
    font-size: 20px;
}

#mode-button {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    padding: 10px;
    margin: 5px;
}

i {
    font-size: 25px;
}

.animation-right {
    animation-duration: 10s;
    animation-name: slideinRight;
    animation-iteration-count: infinite;
    animation-direction: linear;
    font-weight: bolder;
    font-size: 20px;
}

.lastname {
    color: #ffa500;
    border: none;
}

.fullname {
    font-size: 50px;
}

.linkedin i {
    margin-left: 10px;
    margin-right: 10px;
}

.twitter i {
    margin-right: 10px;
}

.linkedin i:hover {
    color: #0e76a8;

}

.twitter i:hover {
    color: #1da1f2;
}

.github i:hover {
    color: #211f1f;
}

.article-cards {
    display: flex;
    text-align: center;
    margin: 0px 200px 0px 200px;
    gap: 10px;
}

.article-card {
    margin: 20px;
}

/* .article-card img {
    width: 80%;
    border: 2px solid gray;
    border-radius: 10px;
    
} */

.article-card-text:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;

}

.article-card-text {
    background: url("../images/article1.jpg") center no-repeat;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px transparent;


}

.text {

    margin-bottom: -100px;
    margin-left: -100px;
    margin-right: -100px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.newletters {
    text-align: center;
    margin-top: 10%;
}

.newletters input[type=email] {
    padding: 12px;
    width: 20%;
    border-radius: 4px;
}

.btn {
    padding: 12px;
    cursor: pointer;
}

.testmonial-cards {
    text-align: center;
    margin: 200px;
    border: none;

}

.testmonial-card {
    text-align: center;

}

.testmonial-text {
    text-align: center;
}

.message {
    display: inline-block;
    width: 40%
}

.testmonial-card-image img {
    margin: 0px 200px 0px 200px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    cursor: pointer;

}

.testmonial-card-image img:hover {
    border: #ffa500 3px dashed;
    transform: scale(1.1);
    transition: 0.4s;

}

.name,
.title {
    font-weight: bolder;
    font-size: large;
}

.see-more {
    margin-top: 10px;
    text-align: center;


}

@keyframes slidein {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-50%, 0);
    }
}

@keyframes slideinRight {
    from {
        transform: translate(50%, 0);

    }

    to {
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .about-me-image img {
        width: 100%;
        height: 100%;
    }

    .about-me-image img:hover {
        transform: none;
        transition: 0.5s;
    }

    .contact-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .about-me-text {
        width: 100%;
        text-align: center;

    }

    .article-cards {
        display: block;
        margin: 0px
    }

    .testmonial-cards {
        margin: 0px;


    }

    .message {
        width: 100%
    }

}